/* --- FORM styles ------------------------------- */
.ps-form-container { text-align: center; margin: 0 auto; }

.ps-form form {
	margin: 0 auto;
	padding: 0.5em;
	max-width: 620px;
/*	min-width: 560px;*/
	width: 590px;
	text-align: left;
/*	background: #BABCC1; */
	background: #F0F8FF; /* aliceblue; */
	border: 1px solid #3A3C40;
}

.ps-form form fieldset {
	border-color: #747881;
	border-style: solid none none;
	border-width: 3px 0 0;
/*	clear: both;*/
	margin: 0;
	font-size: 100%;
	padding: 10px;
}

.ps-form form fieldset legend {
	line-height: 150%;
	color: #000000;
	font-size: 150%;
	font-weight: normal;
	margin: 0;
	padding: 0 5px;
}

.ps-form form div {
	clear: left;
	display: block;
	margin: 5px 0pt 0pt;
	padding: 1px 3px;
	width: 354px;
}

.ps-form form fieldset div.inline-notes,
.ps-form form fieldset div.inline-warn,
.ps-form form fieldset div.notes 
{
	background-color: #FFFFE1;
	border: 1px solid #666666;
	color: #666666;
	float: right;
	font-size: 88%;
	height: auto;
	margin: 0 0 10px 10px;
	padding: 5px;
	width: 158px;
}
.ps-form form fieldset div.inline-notes { width: auto; float: none; margin: 5px 0 0; padding: 3px; }

.ps-form form fieldset div.inline-notes a,
.ps-form form fieldset div.notes a 
{
	text-decoration: underline;
}

.ps-form form fieldset div.inline-notes h4,
.ps-form form fieldset div.notes h4 
{
	background: transparent url(../img/icons/information.png) no-repeat left 50%;
	border-color: #666666;
	border-style: solid;
	border-width: 0 0 1px;
	color: #666666;
	font-size: 110%;
	padding: 0 0 3px 20px;
}

.ps-form form fieldset div.inline-notes p,
.ps-form form fieldset div.notes p 
{
	color: #666666;
	margin: 0.5em 0 0;
}

.ps-form form div label small, 
.ps-form form div label {
	display: block;
	float: left;
	margin: 0 0 5px;
	padding: 3px 5px;
	text-align: right;
	width: 135px;		/* main align */
	font-weight: bold;
}
.ps-form form div label small {
	font-weight: normal;
	text-align: left;
}

.ps-form form div p.small {
	display: block;
	padding: 0 3px;
	font-size: 88%;
	clear: left;
	margin-left: 2em;
	margin-bottom: 0.5em;
}

.ps-form form div p.err { display: none; }
.ps-form form div.err p.err, div.err p.err { 
	display: block;
	background: url(../img/icons/error.png) no-repeat 0 50%;
	padding-left: 20px;
	margin-left: 104px;
	font-size: 90%;
	font-weight: bold;
	color: #FF0000;
	height: 16px;
}

.ps-form form div.err, div.err {
	border: 1px solid #FF0000;
	background: #FFFFE1;
	padding: 2px;
}

.ps-form form div.fatal, div.fatal {
	padding: 0.5em 0.5em 0.5em 30px;
	margin-bottom: 1em;
	background: #B75E52 url(../img/icons/error.png) no-repeat 5px 50%;
	border: 1px solid black;
	color: #FFFFFF;
}
.ps-form form div.fatal h4, div.fatal h4 {
	border-bottom: 1px solid black;
	color: #FFCEBF;
}

/*
.ps-form form div fieldset {
	border: 1px solid #666666;
	clear: none;
	margin: 0 0 0 125px;
	padding: 0pt 5px 5px;
	width: 197px;
}
.ps-form form div fieldset legend {
	font-size: 100%;
	padding: 0 3px 0 9px;
}
*/



/* --- Input styles ---------------------- */

.ps-form form div input.field, 
.ps-form form div select, 
.ps-form form div textarea, 
.ps-form form div span.readonly
{
	margin: 0;
	padding: 1px;
	color: #000000;
	background-color: #FFFFFF;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	width: 200px;
	font-family: Helvetica,"trebuchet ms",arial,sans-serif;
	font-size: 100%;
}
.ps-form form div span.readonly { background-color: #EEE; }
.ps-form form div textarea { overflow: auto; }

.ps-form form div input.checkbox, 
.ps-form form div input.radio
{ 
	width: auto; 
	border: none; 
}
.ps-form form div textarea.medium {
	width: 300px;
}
.ps-form form div textarea.long, .ps-form form div input.long {
	width: 400px;
}
.ps-form form div input.short {
	width: 50px;
}
.ps-form form div input.btn {
}

.ps-form form fieldset div.submit {
	width: auto;
	text-align: center;
}

.ps-form form label.for {
	float: none;
	width: auto;
	display: inline;
}

div.submit input.btn {
	background-color: ButtonFace;
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding:1px 1px 1px 20px;
	font-weight: bold;
	margin: 0 0.5em;
}
div.submit input.login { 
	background-image: url(../img/icons/user_go.png);
}
div.submit input.cancel { 
	background-image: url(../img/icons/cancel.png);
}
div.submit input.delete { 
	background-image: url(../img/icons/delete.png);
}
div.submit input.save { 
	background-image: url(../img/icons/accept.png);
}
div.submit input.new { 
	background-image: url(../img/icons/textfield_add.png);
}
div.submit input.test { 
	background-image: url(../img/icons/cog.png);
}
div.submit input.reset { 
	background-image: url(../img/icons/cog.png);
}

#ps-conf-form div.section-desc {
	padding: 1em;
	text-align: left;
	font-size: 110%;
	background-color: #E0E8EE;
	border: 1px solid #747881;
	clear: none;
}
#ps-conf-form div.var-help {
	clear: both;
	float: none;
	margin: 0 2em;
	padding: 0;
	font-size: 90%;
	color: black;
}

.ps-table-header .links {
	float: left;
	font-weight: bold;
}
.ps-table tr td.idx { 
	width: 50px;
}
.ps-table tr td.item {
	text-align: left;
	font-weight: bold;
}
.ps-table tr td.item span.sub {
	font-weight: normal;
	font-size: 80%;
	color: gray;
	display: block;
	line-height: 1.2em;
}

.ps-table tr.sep-row-top td {
	border-top: 2px solid gray;
}

.left { float: left; }
.right { float: right; }

/* --- Custom form alternations ---------------- */
#ps-login-form .ps-form form {
/*	min-width: 375px;*/
	width: 375px;
}
#ps-login-form .ps-form form div {
	width: auto;
}
#ps-login-form .ps-form form div label {
	width: 115px;
}

.ps-form form div {
	width: auto;
}
.ps-form form div.block {
	padding: 0;
}
.ps-form span.nomodify {
	color: #f31414;
	display: inline-block;
	padding: 2px;
	width: 196px;
	background: #c6c9d1;
}

#ps-conf-form {
	background: #F0F8FF; /*aliceblue;*/
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}	
#ps-conf-form .ps-form form {
	max-width: none;
/*	min-width: none;*/
	width: auto;
	background: transparent;
	border: none;
}
#ps-conf-form .ps-form form fieldset {
	clear: none;
	padding: 10px 0;
}
#ps-conf-form .ps-form form div label {
	text-align: left;
	width: 250px;
}
#ps-conf-form .ps-form form div.form-div {
	clear: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#ps-conf-form .ps-form form div {
	position: static;
}
#ps-conf-form .ps-form form div.help {
}
#ps-conf-form .ps-form form div input.field, 
#ps-conf-form .ps-form form div select, 
#ps-conf-form .ps-form form div textarea {
	width: auto;
}
#ps-conf-form .ps-form form div select option {
	padding: 0 0.5em;
}

#ps-conf-form .ps-form form fieldset div {
}
#ps-conf-form .ps-form form fieldset div.submit {
	float: none;
}
#ps-conf-form .ps-form form fieldset div img.del,
#ps-conf-form .ps-form form fieldset div img.edit {
	float: right;
	padding-left: 9px;
}
#ps-conf-form .ps-form form div.err p.err {
	margin-left: 5px;
}
#ps-conf-form img.helpimg, 
#ps-conf-form label.help {
	cursor: pointer;
}
#ps-conf-form label.help:hover {
	color: #990000;
}
