/*
	content.css
	Main content styles for most pages with PsychoStats.

	These styles define how the layout and format for most pages will be displayed within PsychoStats.
*/

#ps-main {
	padding-top: 1em;
	background: url(../img/content-bg.gif) repeat-x;
}

#ps-main h1, #ps-main h2, #ps-main h3
{
	font-family: Helvetica,"trebuchet ms",arial,sans-serif;
	font-size: 140%;
	font-weight: normal;
}
#ps-main h1 { border-bottom: 2px solid #778899; font-weight: bold; }
#ps-main h2 { font-size: 110%; }
#ps-main h3 { font-size: 80%; }

#ps-main-content {
	text-align: center;
}

#ps-page-title, #ps-container .ps-section-title {
	min-height: 64px;
	text-align: center;
	margin: 0 1em 1em 1em;
 	background: #CCCCCC url(../img/page-title-bg.png) repeat-x;
	border: 1px solid gray;
}
#ps-title-logo {
	position: relative;
	margin: 0 10px;
	height: 64px;
	width: 64px;
	float: left;
	z-index: 1;
}
#ps-page-title div.inner, #ps-container .ps-section-title div.inner {
	min-height: 64px;
	text-align: left;
	padding: 7px; /* 7px 7px 0 7px */
}
#ps-page-title h2, .ps-section-title h2 { 
/*
	float: left;
*/
}
#ps-page-title span, .ps-section-title span {
	float: right;
	font-weight: bold;
}
#ps-search-clear {
	padding-bottom: 2px;
}

#ps-page-title div.ps-plr-profile {
	padding: 3px;
	margin: 0 7px 7px;
	border: 1px solid #AAA;
	background: url(../img/page-title-bg-reverse.png) repeat-x bottom left;
	text-align: left;
}

#ps-page-title div.ps-clan-profile {
	padding: 3px;
	margin: 0 7px 7px;
	border: 1px solid #AAA;
	background: url(../img/page-title-bg-reverse.png) repeat-x bottom left;
	text-align: left;
}

#ps-page-privacy {
    color: #222;
    font-size: 1.2em;
	padding: 20px;
	margin: 20px 15% 20px;
	border: 2px solid #888;
	text-align: left;
	background: #d8d8d8;
}
#ps-page-privacy div, #ps-page-privacy p {
	padding: 5px;
}
#ps-page-privacy h1, #ps-page-privacy h2, #ps-page-privacy h3, #ps-page-privacy h4 {
    color: #000;
    font-weight: bold;
	padding-top: 20px;
}
#ps-page-privacy p {
	padding: 5px;
}
#ps-page-privacy ul {
	margin-left: 20px;
	background: #cecece;
}
#ps-page-privacy li {
	margin: 10px;
}

#ps-container div.ps-plr-profile div.row {
	margin: 3px 0;
}

#ps-container div.ps-plr-profile div label {
	display: inline;
	float: left;
	width: 175px;
	padding-right: 0.5em;
	clear: left;
	font-weight: bold;
	text-align: right;
}

div.ps-plr-profile div p em { /* 'Not Set' statements */
	color: #666;
}

#ps-container div.ps-clan-profile div.row {
	margin: 3px 0;
}

#ps-container div.ps-clan-profile div label {
	display: inline;
	float: left;
	width: 175px;
	padding-right: 0.5em;
	clear: left;
	font-weight: bold;
	text-align: right;
}

div.ps-clan-profile div p em { /* 'Not Set' statements */
	color: #666;
}

div.ps-plr-profile #map {
	height: 96px;
	width: 175px;
	float: right;
	background-color: #CCC;
}

#ps-container .ps-plr-logo {
	text-align: center;
	margin-bottom: 1em;
}

/* --- TABLE LAYOUT --------------------------------------------------------------- */
#ps-container .ps-frame-header { 
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	padding: 0.3em;
	padding-left: 1em;
	background: #f1f1f1 url(../img/frame-header-bg.jpg) repeat-y top left;
	border:  1px solid gray;
}
.ps-frame-header span { 
	display: block;
	width: 100%;
	background: url(../img/exp_minus_arrow.png) no-repeat 100% 50%;
}
.s-closed .ps-frame-header span {
	background: url(../img/exp_plus_arrow.png) no-repeat 100% 50%;
}
.s-closed .ps-table-inner {
	display: none;
}

#ps-container .ps-table-frame { 
	margin: 0 0.5em 1em 0.5em;
}
#ps-container .ps-table-inner {
	border: 1px solid gray;
}
#ps-container .ps-table-header {
	padding: 0 0.2em 0.2em 0;
	text-align: right;
}
#ps-container .ps-table-footer {
	padding: 0.2em 0.2em 0 0;
	background: url(../img/table-footer-bg.png) repeat-x 0 bottom; /* 72px */
	text-align: right;
}
#ps-container .ps-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	position: relative;
}
#ps-container .ps-player-table tr.hdr,
#ps-container .ps-weapon-table tr.hdr,
#ps-container .ps-map-table tr.hdr,
#ps-container .ps-role-table tr.hdr,
#ps-container .ps-clan-table tr.hdr {
	position: sticky;
	top: 0;
	z-index: 1000;
}
#ps-container .ps-table th {
	line-height: 20px;
	background: url(../img/table-header-bg.png) repeat;
	border-bottom: 1px solid #999;
	text-align: center;
	padding: 0;
}
#ps-container .ps-table td {
	padding: 0 0.5em 0 0.4em;
	border-right: 1px solid #BBB;
	text-align: center;
	line-height: 1.5em;
}
.ps-table tr { background-color: #EEE; }
.ps-table tr.even { background-color: #E0E0E0; }
.ps-table td.noborder { border: none; }
.ps-table tr.over {
/*	apply mouseover styles for table rows here /**
	background-color: #ffffff;
/**/
}
/* 
.ps-table th.first { }
.ps-table td.first { border-left: none; }

/*
   This would be the ideal way to eliminate the extra border on the first
   column of tables. But noooooo, IE doesn't play nice. Instead we ruin
   the html by manually adding the 'first' class to the proper <td> tags
   on all tables.
.ps-table tr td:first-child { border-left: none; }
*/

#ps-container .ps-table th a,
#ps-container .ps-table th a:link,
#ps-container .ps-table th a:visited,
#ps-container .ps-table th a:hover,
#ps-container .ps-table th a:active 
{
	color: black;
}
#ps-container .ps-table th.active a {
	color: white;
}
#ps-container .ps-table th a:hover {
	color: white;
}
#ps-container .ps-table th.active a:hover {
	color: black;
}

.ps-table th.active p {
	background: url(../img/table-header-active-l-bg.png) no-repeat;
}
.ps-table th.active span {
	width: 100%;
	display: block;
	/* default the right side with no sort arrow */
	background: url(../img/table-header-desc-r-bg.png) no-repeat 100% 0;
}
.ps-table tr th.active span.asc {
	background: url(../img/table-header-asc-r-bg.png) no-repeat 100% 0;
	cursor: pointer;
}
.ps-table tr th.active span.desc {
	background: url(../img/table-header-desc-r-bg.png) no-repeat 100% 0;
	cursor: pointer;
}
#ps-container .ps-table acronym {
	text-decoration: none;
	border: none;
	cursor: help;
}

#ps-container .ps-table td.no-data {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: gray;
	padding: 0.5em 0;
}

#ps-container .ps-table .first	{
	background-color: #f5f5f5;
	color: #7d7d7d;
	text-align: center;
}
#ps-container .ps-table tr.even .first {
	background-color: #eaeaea;
}
#ps-container .ps-table .left  {
	background-color: #e1e1e1;
	text-align: left;
}
#ps-container .ps-table tr.even .left { background-color: #d3d3d3; }
#ps-container .ps-table .right  { text-align: center; }
#ps-container .ps-table .center { text-align: center; }
#ps-container .ps-table .primary,
#ps-container .ps-table .secondary {
	background-color: #dedede;
	color: #af1919;
	font-weight: bold;
	text-align: center;
}
#ps-container .ps-table .secondary {
	background-color: #e1e1e1;
	font-weight: normal;
}
#ps-container .ps-table tr.even .primary { background-color: #c6c6c6; }
#ps-container .ps-table tr.even .secondary { background-color: #d3d3d3; }

/* --- Style for flag and icon images in the team list */
#ps-container .ps-table .left img  {
	padding-top: 2px;
	padding-right: 4px;
	float: right;
}

/* --- Player table specific styles */
.ps-player-table a.plr,
.ps-clan-table a.clan,
.ps-map-table a.map,
.ps-weapon-table a.weapon,
.ps-role-table a.role
{
	font-weight: bold;
}

.ps-map-table td.first {
}
.ps-role-table td.first,
.ps-weapon-table td.first {
	width: 80px;
}
.ps-role-table td.pct_bar,
.ps-weapon-table td.pct_bar {
	width: 50px;
}
.ps-map-table td.mapimg {
	width: 40px;
}

/* --- PAGER styles ------------ */
#ps-container .pager {
	display: block;
	padding: 3px;
}
#ps-container .pager-current,
#ps-container .pager-goto,
#ps-container .pager-next,
#ps-container .pager-prev {
	border: 1px solid gray;
	padding: 0 2px;
	background: #DDDDDD;
}
#ps-container .pager-current {
	background: lightyellow;
	font-weight: bold;
}
#ps-container .pager-next,
#ps-container .pager-prev {
	background: #BBBBBB;
}

#error {
	width: 400px;
	margin: 3em auto;
	background: lightyellow;
	border: 2px solid darkred;
	padding: 1em;
	padding-top: 1%;
	padding-left: 3%;
	background-repeat: no-repeat;
	background-position: 1% center;
	color: #D8000C;
	z-index:2;
	/*background-color: #FFBABA;*/
	background-image: url('../img/script_error.png');
}
#error h1 {
	color: darkred;
	font-size: 180%;
	border-bottom: 3px solid #999;
	margin-bottom: 0.5em;
}
#error p {
	font-size: 120%;
}

/* activity percentage bar */
.pct-bar {
	border: 1px solid #AAA;
	background-color: #EEE;
	height: 8px;
	overflow: hidden;
	text-align: left;
	display: block;
	float: none !important;
	text-align: left !important;
}
.pct-bar span {
	display: block;
	height: 100%;
	text-align: left;
	background-color: black;
}
#ps-container .ps-column-content .pct-bar {
	margin-top: 4px;
}

/* dual percentage bars */
.dual-bar {
	border: 1px solid #AAA;
	background-color: #EEE;
	height: 8px;
	overflow: hidden;
	display: block;
	text-align: left !important;
	float: none !important;
}
.dual-bar span.left, .dual-bar span.right, .dual-bar span.center {
	float: left;
	display: block;
	height: 100%;
	text-align: left;
	background-color: black;
}
.dual-bar span.center { width: 1px; background-color: #AAA; }
#ps-container .ps-column-content .dual-bar {
	margin-top: 4px;
}
/* awards.php */

#ps-award-frame {
	border: 1px solid gray;
	background: #EEEEFF;
	margin: 0pt 0.5em 1em;
	text-align: left;
}

#ps-award-frame a.plr {
	font-weight: bold;
}

#ps-container .ps-award-ctrl,
#ps-container .ps-award-ctrl-bottom {
	margin-bottom: 0.5em;
	border-bottom: 2px solid gray;
	padding: 0;
	text-align: center;
	background:transparent url(../img/table-header-bg.png) repeat scroll 0% 50%;
	line-height:19px;
}
#ps-award-hdr {
	margin: 0.5em 0.25em;
	padding: 1em;
	text-align: center;
/*
	border: 1px solid black;
	background: #92929F;
	color: #D8D8EB;
*/
}
#ps-award-hdr h1 {
	border: none;
	font-size: 150%;
}

#ps-container .ps-award-ctrl-bottom {
	margin-top: 0.5em;
	border-top: 2px solid gray;
	margin-bottom: 0;
	border-bottom: none;
}

#ps-container .ps-award-ctrl-bottom div.next,
#ps-container .ps-award-ctrl div.next {
	float: right;
	padding: 0 1em;
}
#ps-container .ps-award-ctrl-bottom div.prev, 
#ps-container .ps-award-ctrl div.prev {
	float: left;
	padding: 0 1em;
}

.ps-award-ctrl-bottom div.curr, 
.ps-award-ctrl div.curr {
	font-weight: bold;
}

#ps-container .ps-award-ctrl-bottom a.next, 
#ps-container .ps-award-ctrl a.next {
	background: url(../img/icons/arrow_right.png) no-repeat 100% 50%;
	padding-right: 20px;
	font-weight: bold;
	margin-left: 0.25em;
}

#ps-container .ps-award-ctrl-bottom a.prev, 
#ps-container .ps-award-ctrl a.prev {
	background: url(../img/icons/arrow_left.png) no-repeat 0 50%;
	padding-left: 20px;
	font-weight: bold;
	margin-right: 0.25em;
}

#ps-award-frame .award,
#ps-award-frame .award-neg,
#ps-award-frame .award-none {
	padding: 0.5em;
	border: 1px solid #CACAD9;
	margin: 0.25em;
	background: #D8D8EB; /* url(../img/icons/information.png) no-repeat 100% 50%; */
}
#ps-award-frame .award-hdr {
	padding: 0.5em;
	margin: 0.25em;
	border-bottom: 3px solid #CCC;
	background: #000;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
#ps-award-frame .award-neg {
	background: #FFD8EB;
}
#ps-award-frame .award-none {
	background: #FFFFEE;
}

#ps-award-frame .award h2,
#ps-award-frame .award-neg h2 {
	font-size: 110%;
	font-weight: bold;
}
#ps-award-frame .award p,
#ps-award-frame .award-neg p {
	font-size: 100%;
	color: #92929F;
	margin: 0 1em;
}

#ps-award-frame .selected-plr {
	border: 3px solid blue;
}

#ps-container .roleimg,
#ps-container .weaponimg,
#ps-container .mapimg {
	text-align: center;
	margin-bottom: 1em;
	margin-left: 1em;
}
.mapimg img {
	width: 100%;
}
#ps-container .hitbox {
	margin: 0 0.5em 1em;
	text-align: left;
}

#ps-container .blurb {
	text-align: left;
	margin: 1em;
	font-size: 80%;
	color: black;
}

#smallmap {
	position: absolute;
	width: 225px;
	height: 165px;
	border: 1px solid gray;
}
#map {
	height: 450px;
	border: 1px solid gray;
	width: 90%;
	margin: 0 auto;
}
#ps-container .map-header,
#ps-container .map-footer {
	width: 90%;
	margin: 0 auto;
}
#ps-main .map-header h3 {
	font-size: 130%;
	color: black;
}
#ps-container .map-footer p {
	font-size: 80%;
	color: #666;
	text-align: left;
}

#ps-container .ofc-left {
	width: 49%;
	float: left;
	margin-bottom: 1em;
}
#ps-container .ofc-right {
	width: 49%;
	float: left;
	margin-bottom: 1em;
}
#ps-container .ofc-least {
	width: 24%;
	float: left;
	margin-bottom: 1em;
}
#ps-container .ofc-most {
	width: 74%;
	float: left;
	margin-bottom: 1em;
}
#ps-container .ofc-full{
	width: 90%;
	margin: 0 auto 1em;
}

.skillchange-up, .skillchange-down, .rankchange-up, .rankchange-down {
	display: inline !important;
	float: none;
}

em.add-friend {
	font-size: 90%;
	font-style: normal;
}
em.add-friend a {
	color: gray;
}

/* Slider styles */
.ui-slider-1 .ui-slider-handle, 
.ui-slider-2 .ui-slider-handle { position: absolute; z-index: 1; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../img/slider-handle.gif);  }
/* .ui-slider-1 .ui-slider-handle-active, .ui-slider-2 .ui-slider-handle-active { border: 1px dotted black;  } */
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-range { position: absolute; background: #50A029; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }

/* Default slider backgrounds */
.ui-slider-1 { width: 200px; height: 23px; position: relative; background-image: url(../img/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../img/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }

/* Heatmap styles */
#ps-container .heatmap {
	margin: 0 1em 0 0;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #000;
	overflow: hidden;
	position: relative;
}

#ps-container .heatmap img.overlay {
/*
	position: relative;
*/
}

.heatmap img.heat {
	position: absolute;
	top: auto;
	left: auto;
}

.heatmap div.ontop {
	position: absolute;
	color: #cccccc;
}
.heatmap div.hour {
	top: 0;
	right: 10px;
	width: 3.5em;
	display: none;
}
.heatmap div.hour .hour {
	font-size: 3em;
	font-family: impact;
	line-height: 1em;
	display: block;
}
.heatmap div.hour .desc {
	font-size: 90%;
}

#ps-container .heatmap-ctrl {
	line-height: 1.75em;
	margin: 0 1em 0 0;
	padding: 0.25em 0;
	border: 1px solid gray;
	background-color: #ccc;
	background: #ccc url(../img/page-title-bg.png) repeat-x top left;
}

#ps-container .heatmap-slider {
	margin: 0 auto;
}

#ps-container .heatmap-ctrl select option {
	padding-right: 10px;
}

.heatmap-progress {
	position: absolute;
	display: none;
}

#gallery div.theme {
	width: 80%;
	margin: 0 auto 1em;
	background-color: #EEE;
	border: 1px outset black;
	text-align: left;
	padding: 0.5em;
}
#gallery div.theme h3 {
	font-size: 150%;
	font-weight: normal;
	background: url(../img/page-title-bg-reverse.png) repeat-x left bottom;
	padding: 3px;
	border: 1px outset gray;
	border-bottom: 2px solid gray;
	margin-bottom: 0.25em;
}
#gallery div.theme h3 a {
	display: block;
}
#gallery div.theme p {
	line-height: 1.5em;
	overflow: hidden;
}
#gallery div.theme p label {
	font-weight: bold;
	display: table-cell;	/* Doesn't work in IE6, owell ... better than using floats */
	width: 75px;
}
#gallery div.theme p span {
	display: table-cell;
}
#gallery div.theme p.description {
	margin: 0.5em;
	color: #666;
}
#gallery div.theme .preview {
	float: right;
	border: 1px inset black;
	padding: 3px;
	background-color: #FFF;
	margin-left: 3px;
}
#gallery div.theme .preview img {
	max-width: 300px;					/* FF  */s
}
#gallery div.theme .website a 	{ padding-left: 20px; background: url(../img/icons/house.png) no-repeat 0 50%; }
#gallery div.theme .author  	{ padding-left: 20px; background: url(../img/icons/user_green.png) no-repeat 0 50%; }
#gallery div.theme .version  	{ padding-left: 20px; background: url(../img/icons/note.png) no-repeat 0 50%; }
#gallery div.theme .source  	{ padding-left: 20px; background: url(../img/icons/package.png) no-repeat 0 50%; }
#gallery div.theme .inuse  	{ padding-left: 20px; background: url(../img/icons/accept.png) no-repeat 0 50%; }
#gallery div.theme p.description { text-indent: 20px; background: url(../img/icons/information.png) no-repeat top left; }

#gallery div.theme p.inuse {
	color: green;
	font-weight: bold;
	background: none;
	padding: 0;
}

img.img-delete { /* editclan.php */
	background: url(../img/icons/delete.png) no-repeat 0 0;
}

.ps-debug {
	font-size: 80%;
	font-family: Tahoma,Arial,sans-serif;
	margin: 1em auto 0 auto;
	width: 80%;
}
.ps-debug .error {
	display: block;
	font-weight: bold;
	text-decoration: underline;
	color: DarkRed;
}
.ps-debug .query { }

/* --- weapon 'classes' ------------------- */
/* not used at the moment 
.ps-weapon-class-title {
	text-align: left;
	padding-left: 1em;
	margin-bottom: 0.5em;
	margin-top: 1em;
	background: url(../img/h1-bg.png) repeat-x left top;
	border: 1px solid #778899;
}

.ps-weapon-classes {
	text-align: center;
	font-weight: bold;
}
.ps-weapon-classes ul {
}
.ps-weapon-classes ul li {
	display: inline;
	margin-left: 0.5em;
}
.ps-weapon-classes a {
	text-decoration: underline;
}

*/

/* --- stat tile blocks */
/* not used at the moment
.ps-tile-container {
	margin: 1em;
}

.ps-tile {
	margin: 0 0.5em 0.5em 0;
	float: left;
	padding: 0em;
	width: 200px;
	border: 1px solid gray;
}

.ps-tile img.tile-img {
	width: 200px;
	height: 80px;
}

.ps-tile h2 {
	font-size: 120%;
	font-weight: bold;
}

.ps-tile p {
	height: 1.5em;
	padding: 0.1em 0.3em 0 0.3em;
	clear: both;
	background: url(../img/pct-red.png) no-repeat 200px 50%;
}
.ps-tile p.green {
	background-image: url(../img/pct-green.png);
}
.ps-tile p.blue {
	background-image: url(../img/pct-blue.png);
}

.ps-tile p label {
	float: left;
	text-align: left;
	font-weight: bold;
	width: 40%;
}
.ps-tile em {
	float: left;
	text-align: right;
	line-height: 1.5em;
	width: 3em;
	font-size: 90%;
	font-style: normal;
}
.ps-tile p span {
	float: right;
	text-align: right;
}

.ps-tile-clear { 
	clear: left; 
	margin: 1em 0;
}
*/

/* weapon image popup styles --- */
/* not used at the moment
.weapon-popup {
	position: absolute;
/*	width: 200px;
	height: 100px; */
/*
	overflow: hidden;
	border: 2px solid gray;
	text-align: center;
	background: white;
	z-index: 65535;
}
.weapon-popup img { }
.weapon-popup p { 
	color: white;
	background: black;
	padding: 0.1em;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
}
*/



/* --- clear floats ------------ */
.clear { clear: both; }
.ps-stat-container:after, 
.ps-stat-content p:after 
{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
* html .ps-stat-container,
* html .ps-stat-content p
{ 
	height:1%; 
}
