/**
	overall.css 
	Global and overall header/footer styles.

	I've tried to make the overall styles 3rd party friendly so that not many global tags are redefined. 
	I wrap a lot of content	into id tags and set styles around those ids. So PsychoStats can be integrated 
	into another page w/o much fuss. Of course, if you use an iframe then none of this matters.

*/

body.psychostats {
	background: #C4C4C4;
	margin: 0;
	padding: 0;
}

/* This container wraps up everything on the page so styles can be applied
 * globally within the context of PsychoStats only.
**/
#ps-container * {
	margin: 0;
	padding: 0;
}

#ps-container {
	font-size: 80%;
	font-family: Tahoma,Arial,sans-serif;
	background: #C4C4C4;
}

#ps-container a,
#ps-container a:link,
#ps-container a:visited,
#ps-container a:hover,
#ps-container a:active {	/* LVHA */
	color: DarkRed;
	text-decoration: none;
}
#ps-container a:hover {
	color: #330000;
}

#ps-container img {
	border: none;
	vertical-align: middle;
}

#ps-container acronym {
	font-size: 100%;
}

/* --- OVERALL HEADER ------------------------------------- */
#ps-overall-header {
	height: 110px;
	background: url(../img/header-bg.png) repeat-x;
	overflow: hidden;
}

#ps-overall-logo {
	height: 122px;
	background: url(../img/header-logo.png) no-repeat;
}

#ps-overall-right {
	float: right;
}

/* --- OVERALL MENU --------------------------------------- */
#ps-overall-menu {
	line-height: 28px;	/* Setting the line-height allows the menu to vertically align */
	background: url(../img/header-menu-bg.png) repeat;
}
#ps-overall-menu ul {
	margin: 0 1em;
}
#ps-overall-menu ul li {
	display: inline;
	background: url(../img/header-menu-sep.png) no-repeat 0 50%;
	padding-left: 12px;
	font-weight: bold;
}
#ps-overall-menu li.first {
	background-image: none;
	padding-left: 0;
}
#ps-container #ps-overall-menu a {
	color: black;
}
#ps-container #ps-overall-menu a:hover {
	color: #6A5ACD;
}

#ps-menu-right {
	float: right;
	display: inline;	/* IE */
	margin-right: 1em;
}
#ps-menu-right img {
	vertical-align: top;
}

/* --- OVERALL FOOTER ------------------------------------- */
#ps-overall-footer {
	font-size: 80%;
	background: gray url(../img/footer-bg.png) repeat-x;
	margin-top: 2em;
	min-height: 41px;					/* FF  */
	height: expression(this.height = 41 + 'px');		/* IE6 */
	overflow: hidden;
	position: relative;
	width: 100%;
	clear: left;
	text-align: center;
}
#ps-footer-middle {
	margin-top: 5px;
}

#ps-overall-footer div.language,
#ps-overall-footer div.theme
{
	float: left;
	margin-left: 0.5em;
	line-height: 3em !important;		/* FF */
	line-height: 1.5em;			/* IE */
	font-weight: bold;
}
#ps-overall-footer select {
	background-color: #CCC;
	border: 1px solid gray;
	padding: 2px;
	margin: 0;
	font-size: 90%;
}
#ps-overall-footer select option {
	padding-right: 1em;
}

/* --- OVERALL LOGIN POPUP --------------------------------------------- */
#ps-login-popup {
	position: absolute;
	width: 230px;
	height: 103px;
	background: transparent url(../img/popup-login.gif) no-repeat;
	overflow: hidden;
	z-index: 65535;
}
#ps-login-popup #ps-login-inner,
#ps-search-popup #ps-search-inner
{
	margin: 33px 10px 0 10px;
	font-size: 8pt;
}
#ps-login-popup input.field {
	margin: 0 0.2em 0 0.2em;
}
#ps-login-inner p {
	margin-bottom: 0.2em;
}
#ps-login-inner p label {
	float: left;
	width: 60px;
	text-align: right;
}
#ps-login-inner button, 
#ps-search-inner button {
	vertical-align: bottom;
	border: none;
	background: transparent;
	cursor: pointer;
}
#ps-login-reg {
	position: absolute;
	right: 10px;
	top: 13px;
}
#ps-login-reg a {
	text-decoration: underline;
}
#ps-login-options {
	font-size: 8pt;
}
#ps-login-popup input.field {
	border: 1px solid gray;
	width: 100px;
}
#ps-login-options a {
	position: absolute;
	right: 0px !important;		/* FF */
	right: 10px;			/* IE */
	top: 3px !important;		/* FF */
	top: 6px;			/* IE */
	text-decoration: underline;
}

#ps-loggedin-popup {
	position: absolute;
	padding: 2em;
	text-align: left;
	background: #9BB39B;
	color: #F4FFDE;
	border: 1px solid black;
	width: 300px;
	font-size: 110%;
}

/* --- OVERALL SEARCH POPUP --------------------------------------------- */
/* some styles are included in the LOGIN styles above */
#ps-search-popup {
	position: absolute;
	width: 230px;
	height: 60px;
	background: url(../img/popup-search.gif) no-repeat;
	z-index: 65535;
}
#ps-search-popup input.field {
	background: white url(../img/search-input-icon.png) no-repeat 0 50%;
	border: 1px solid gray;
	width: 155px;
	padding-left: 17px;
}
#ps-container input.search { /* generic search class */
	background: white url(../img/search-input-icon.png) no-repeat 0 50%;
	padding-left: 17px;
	border: 1px solid gray;
	width: 125px;
}

#ps-container .gmapinfo {
	text-align: left;
	font-size: 80%;
}
#ps-container .gmapinfo h4 {
	text-align: center;
	border-bottom: 1px solid gray;
	font-size: 110%;
}
#ps-container .gmapinfo label {
	font-weight: bold;
	float: left;
	width: 70px;
}
#ps-container .gmapinfo span {
	clear: right;
}

