/**
	overall.css 
	Global and overall header/footer styles.

	I've tried to make the overall styles 3rd party friendly so that not many global tags are redefined. 
	I wrap a lot of content	into id tags and set styles around those ids. So PsychoStats can be integrated 
	into another page w/o much fuss. Of course, if you use an iframe then none of this matters.

*/

body.psychostats {
	background: #C4C4C4;
	margin: 0;
	padding: 0;
}

/* This container wraps up everything on the page so styles can be applied
 * globally within the context of PsychoStats only.
**/
#ps-container * {
	margin: 0;
	padding: 0;
}

#ps-container {
	font-size: 80%;
	font-family: Tahoma,Arial,sans-serif;
	background: #C4C4C4;
}

#ps-container a,
#ps-container a:link,
#ps-container a:visited,
#ps-container a:hover,
#ps-container a:active {	/* LVHA */
	color: DarkRed;
	text-decoration: none;
}
#ps-container a:hover {
	color: #330000;
}

#ps-container img {
	border: none;
	vertical-align: middle;
}

#ps-container acronym {
	font-size: 100%;
}

/* --- OVERALL HEADER ------------------------------------- */
#ps-overall-header {
	height: 110px;
	background: url(../img/header-bg.png) repeat-x;
	overflow: hidden;
}

#ps-overall-logo {
	height: 122px;
	background: url(../img/header-logo.webp) no-repeat;
}

#ps-overall-right {
	float: right;
}

/* --- OVERALL MENU --------------------------------------- */
#ps-overall-menu {
	line-height: 28px;	/* Setting the line-height allows the menu to vertically align */
	background: url(../img/header-menu-bg.png) repeat;
}
#ps-overall-menu a img.ps-icon {
	position: relative;
	top: 6px;
	height: 16px;
	width: 16px;
}
#ps-overall-menu ul {
	margin: 0 1em;
}
#ps-overall-menu ul li {
	display: inline;
	background: url(../img/header-menu-sep.png) no-repeat 0 50%;
	padding-left: 12px;
	font-weight: bold;
}
#ps-overall-menu li.first {
	background-image: none;
	padding-left: 0;
}
#ps-container #ps-overall-menu a {
	color: black;
}
#ps-container #ps-overall-menu a:hover {
	color: #6A5ACD;
}

#ps-menu-right {
	float: right;
	display: inline;	/* IE */
	margin-right: 1em;
}
#ps-menu-right img {
	vertical-align: top;
}

/* --- OVERALL FOOTER ------------------------------------- */
#ps-overall-footer {
	font-size: 80%;
	background: gray url(../img/footer-bg.png) repeat-x;
	margin-top: 2em;
	min-height: 41px;					/* FF  */
	overflow: hidden;
	position: relative;
	width: 100%;
	clear: left;
	text-align: center;
}
#ps-footer-middle {
	margin-top: 5px;
}

#ps-overall-footer div.language,
#ps-overall-footer div.theme
{
	float: left;
	margin-left: 0.5em;
	line-height: 3em !important;		/* FF */
	line-height: 1.5em;			/* IE */
	font-weight: bold;
}
#ps-overall-footer select {
	background-color: #CCC;
	border: 1px solid gray;
	padding: 2px;
	margin: 0;
	font-size: 90%;
}
#ps-overall-footer select option {
	padding-right: 1em;
}
#ps-overall-footer div.privacy {
	font-weight: bold;
}

/* --- OVERALL LOGIN POPUP --------------------------------------------- */
#ps-login-popup {
	position: absolute;
	width: 230px;
	height: 103px;
	background: transparent url(../img/popup-login.gif) no-repeat;
	overflow: hidden;
	z-index: 65535;
}
#ps-login-popup #ps-login-inner
{
	margin: 33px 10px 0 10px;
	font-size: 8pt;
}
#ps-login-popup input.field {
	margin: 0 0.2em 0 0.2em;
}
div#ps-login-inner {
    text-align: center;
}
#ps-login-inner a {
    font-size: larger;
}
#ps-login-inner p {
	margin-bottom: 0.2em;
}
#ps-login-inner p label {
	padding-right: 5px;
	margin-top: 3px;
	float: left;
	width: 60px;
	text-align: right;
}
#ps-login-inner button {
	position: absolute;
	right: 10px;
	bottom: 5px;
	border: none;
	background: transparent;
	cursor: pointer;
}
#ps-login-reg {
	position: absolute;
	right: 10px;
	top: 13px;
}
#ps-login-reg a {
	text-decoration: underline;
}
#ps-login-options {
	position: absolute;
	right: 95px;
	bottom: 7px;
	font-size: 8pt;
}
#ps-login-popup input.field {
	border: 1px solid gray;
	width: 130px;
}
#ps-login-options a {
	position: absolute;
	right: 0px !important;		/* FF */
	right: 10px;			/* IE */
	top: 3px !important;		/* FF */
	top: 6px;			/* IE */
	text-decoration: underline;
}

#ps-loggedin-popup {
	position: absolute;
	padding: 2em;
	text-align: left;
	background: #9BB39B;
	color: #F4FFDE;
	border: 1px solid black;
	width: 300px;
	font-size: 110%;
	z-index: 10000;
}

/* --- OVERALL SEARCH POPUP --------------------------------------------- */
/* some styles are included in the LOGIN styles above */
#ps-search-popup {
	position: absolute;
	width: 230px;
	height: 60px;
	background: url(../img/popup-search.gif) no-repeat;
	z-index: 65535;
}
#ps-search-popup input.field {
	background: white url(../img/search-input-icon.png) no-repeat 0 50%;
	border: 1px solid gray;
	width: 155px;
	padding-left: 17px;
}
#ps-container input.search { /* generic search class */
	background: white url(../img/search-input-icon.png) no-repeat 0 50%;
	padding-left: 17px;
	border: 1px solid gray;
	width: 125px;
}

#ps-container .gmapinfo {
	text-align: left;
	font-size: 80%;
}
#ps-container .gmapinfo h4 {
	text-align: center;
	border-bottom: 1px solid gray;
	font-size: 110%;
}
#ps-container .gmapinfo label {
	font-weight: bold;
	float: left;
	width: 70px;
}
#ps-container .gmapinfo span {
	clear: right;
}

/* --- COOKIE CONSENT POPUP --------------------------------------------- */
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
#ps-container .open-cookieconsent {
	background-color: #555;
	color: white;
	padding: auto;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
	height: 25px;
	line-height: 100%;
	z-index: 10000;
}

/* The popup form - hidden by default */
#ps-container .form-cookieconsent {
	display: block;
	min-height: 75px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ccc;
	border: 3px solid #aaa;
	z-index: 20000;
}

/* Add styles to the form container */
#ps-container .form-cccontainer {
	color: black;
	text-align: left;
}
#ps-container .form-cccontainer p {
	margin-right: 320px;
}
#ps-container .form-cccontainer p.privacy {
	text-align: center; 
}

/* Full-width input fields */
#ps-container .form-cccontainer input[type=button] {
	width: 280px;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* When the inputs get focus, do something */
#ps-container .form-cccontainer input[type=button]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
#ps-container .form-cccontainer .btn {
	color: white;
	background-color: #ccc;
	padding: auto;
	border: none;
	cursor: pointer;
	position: fixed;
	right: 28px;
	height: 20px;
	line-height: 100%;
	width: 280px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
#ps-container .form-cccontainer .accept {
	background-color: #04AA6D;
	bottom: 40px;
}

/* Add a red background color to the cancel button */
#ps-container .form-cccontainer .reject {
	background-color: red;
	bottom: 15px;
}

/* Add some hover effects to buttons */
#ps-container .form-cccontainer .btn:hover,
#ps-container .open-button:hover {
	opacity: 1;
}

/* NoScript Error */
#no-js {
	position: fixed;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	z-index: 1200;
	border: 1px solid;
	background-color: rgba(196, 196, 196, 0.8);
	display: block;
}

