/*
	Default theme 'blue' scheme. This overrides styles from the main overall.css and content.css files.
*/

/* overall.css */
#ps-container a,
#ps-container a:link,
#ps-container a:visited,
#ps-container a:hover,
#ps-container a:active {	/* LVHA */
	color: #0066cc;
}
#ps-container a:hover {
	color: #003355;
}

#ps-overall-header {
	background: url(../img/header-bg.png) repeat-x;
}

#ps-overall-logo {
	background: url(../img/header-logo.webp) no-repeat;
}

#ps-overall-footer {
	background: url(../img/footer-bg.png);
}

/* content.css */

body.psychostats,
#ps-container {
	background-color: #c5cedc;
}

#ps-main {
	background: #c5cedc url(../img/content-bg.png) repeat-x;
}

#ps-page-title, .ps-section-title {
 	background: #edeeff url(../img/page-title-bg.jpg) repeat-x;
}

#ps-page-title div.ps-plr-profile {
	background: #edeeff url(../img/page-title-bg-reverse.jpg) repeat-x top left;
}

#ps-container .ps-frame-header { 
	background: #edeeff url(../img/frame-header-bg.jpg) repeat-y top left;
}

#ps-container .ps-table th {
	background: #edeeff url(../img/table-header-bg.jpg) repeat-x top left;
}

#ps-container .ps-table th.active span {

}

#ps-container .ps-table th.active p {
	background: url(../img/table-header-active-l-bg.png) no-repeat;
}

#ps-container .ps-table tr th.active span.asc {
	background: url(../img/table-header-asc-r-bg.png) no-repeat 100% 0;
}

#ps-container .ps-table tr th.active span.desc {
	background: url(../img/table-header-desc-r-bg.png) no-repeat 100% 0;
}

#ps-container .ps-table-footer {
	background: url(../img/table-footer-bg.png) repeat-x 0 bottom;
}

#ps-container .ps-award-ctrl,
#ps-container .ps-award-ctrl-bottom {
	background: url(../img/table-header-bg.jpg) repeat-x;
}

/* 2column.css */
#ps-container .ps-column-header {
	background: url(../img/table-header-bg.jpg) repeat-x;
}

#ps-container .ps-column-content p.hl {
	background-color: #c5d5fa;
}

/* query.css */
#ps-container .ps-server-main .hdr {
	background: url(../img/table-header-bg.jpg) repeat-x;
}

/* NoScript Error */
#no-js {
	background-color: rgba(197,206,220,0.8);
}

